In [1]:
print("hello")

hello

In [2]:
z="True"
type(z)

str

In [3]:
w="welocome to ml training"
w+z

'welocome to ml trainingTrue'

In [4]:
x=10
y=20.2
z=True
print("value of x: ",x)
print("value of y: ",y)

value of x:  10
value of y:  20.2

In [5]:
print("x+y",x+y)
print("x-y",x-y)
print("x*y",x*y)
print("x/y",x/y)

x+y 30.2
x-y -10.2
x*y 202.0
x/y 0.49504950495049505

In [6]:
print("x**y",x**y)
print("x//y",x//y)
print("x%y",x%y)

x**y 1.5848931924611108e+20
x//y 0.0
x%y 10.0

In [7]:
2**4

16

In [8]:
2^4

6

In [9]:
2^3 #x-or operator

1

In [15]:
x="75.435"
print(x," ",type(x))
y=float(x)
print(y," ",type(y))

75.435   <class 'str'>
75.435   <class 'float'>

In [12]:
x="welcome"
print(x," ",type(x))
y=int(x)
print(y," ",type(y))

welcome   <class 'str'>

ValueError: invalid literal for int() with base 10: 'welcome'

In [14]:
x="75435"
print(x," ",type(x))
y=int(x)
print(y," ",type(y))

75435   <class 'str'>
75435   <class 'int'>

In [16]:
x="75.435"
print(x," ",type(x))
y=int(float(x))
print(y," ",type(y))

75.435   <class 'str'>
75   <class 'int'>

In [17]:
x=10
float(x)

10.0

In [19]:
x=True
print(x," ",type(x))
y=int(x)
print(y," ",type(y))

True   <class 'bool'>
1   <class 'int'>

In [21]:
x=False
print(x," ",type(x))
y=int(x)
print(y," ",type(y))

False   <class 'bool'>
0   <class 'int'>

In [25]:
x=0
print(x," ",type(x))
y=bool(x)
print(y," ",type(y))

0   <class 'int'>
False   <class 'bool'>

In [26]:
x=-2
print(x," ",type(x))
y=bool(x)
print(y," ",type(y))

-2   <class 'int'>
True   <class 'bool'>

In [27]:
x=65
chr(x)

'A'

In [28]:
x=66
chr(x)

'B'

In [29]:
type(chr(x))

str

In [30]:
ord('1')

49

In [34]:
chr(97)

'a'

In [32]:
ord('A')# to convert character into ascci code

65

In [36]:
x=int(input("enter x value:"))
y=int(input("enter y value:"))
print("sum is:",x+y)

enter x value:2
enter y value:2
sum is: 4

In [ ]:
#Assignment
1. area=l*b/2
2. area=pi*r*r
3. area=pi*r^2*h
4. area=2*pi*r*h
5. c=(f-32)*5/9
6. s=prt/100
7. y=mx+c
8. dollar to rupees

In [37]:
l=float(input("enter length:"))
b=float(input("enter breadth:"))
print("Area of Triangle is:",l*b/2)

enter length:10
enter breadth:10
Area of Triangle is: 50.0

In [39]:
import math
r=float(input("enter radius of circle:"))
print("Area of circle is:",math.pi*r**2)

enter radius of circle:10
Area of circle is: 314.1592653589793

In [40]:
r=float(input("enter raidus of cylinder:"))
h=float(input("enter height of cylinder:"))
print("Volume of cylinder is:",math.pi*r**2*h)

enter raidus of cylinder:10
enter height of cylinder:10
Volume of cylinder is: 3141.5926535897934

In [41]:
r=float(input("enter raidus of cylinder:"))
h=float(input("enter height of cylinder:"))
print("Curved surface area of cylinder is:",2*math.pi*r*h)

enter raidus of cylinder:10
enter height of cylinder:10
Curved surface area of cylinder is: 628.3185307179587

In [44]:
f=float(input("enter temp in Farenhiet:"))
c=(f-32)*5/9
print("Temp in calcius is:",c)

enter temp in Farenhiet:33
Temp in celcius is: 0.5555555555555556

In [47]:
p=float(input("enter principal:"))
r=float(input("enter rate:"))#yearly rate
t=float(input("enter time:"))
s=p*r*t/100
print("Simple interest is:",s)

enter principal:200
enter rate:3
enter time:3
Simple interest is: 18.0

In [77]:
m=float(input("enter slope of line:"))
c=float(input("enter intercept on y axis:"))
print("equation of line is:\n y=%fx+%f"%(m,c))

enter slope of line:3
enter intercept on y axis:4
equation of line is:
 y=3.000000x+4.000000

In [54]:
d=int(input("No. of dollar:"))
print("total money in INR:",d*80)

No. of dollar:5
total money in INR: 400

In [49]:
x=[1,2,'A','c',True,12.2]
print(x)

[1, 2, 'A', 'c', True, 12.2]

In [51]:
type(x)

list

In [55]:
for i in x:
    print(i)

1
2
A
c
True
12.2

In [56]:
print(x[0:4])

[1, 2, 'A', 'c']

In [57]:
print(x[::-1])

[12.2, True, 'c', 'A', 2, 1]

In [59]:
x[:5]

[1, 2, 'A', 'c', True]

In [65]:
x[-6:-1]

[1, 2, 'A', 'c', True]

In [66]:
x[::2]

[1, 'A', True]

In [68]:
x[::3]

[1, 'c']

In [71]:
x[::-2]

[12.2, 'c', 2]

In [72]:
x[-1:-4]

[]