<a href="https://colab.research.google.com/github/dharmanshu-sharma/mlTraining/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=[1,2,3,4,['a','b','c'],"red","blue"]

In [3]:
x

[1, 2, 3, 4, ['a', 'b', 'c'], 'red', 'blue']

In [5]:
x.append("green")
x

[1, 2, 3, 4, ['a', 'b', 'c'], 'red', 'blue', 'green', 'green']

In [6]:
msg="welcome"
x.extend(msg)
x

[1,
 2,
 3,
 4,
 ['a', 'b', 'c'],
 'red',
 'blue',
 'green',
 'green',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e']

In [9]:
x.extend([23,34])#extend adds the iterable object into list with seperate indexes;
x

[1,
 2,
 3,
 4,
 ['a', 'b', 'c'],
 'red',
 'blue',
 'green',
 'green',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34]

In [12]:
x.extend("2.345")
x

[1,
 2,
 3,
 4,
 ['a', 'b', 'c'],
 'red',
 'blue',
 'green',
 'green',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '.',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4',
 '5']

In [14]:
len(x)

30

In [15]:
x.pop(4)#delets from passed index in parameter.
x

[1,
 2,
 3,
 4,
 'red',
 'blue',
 'green',
 'green',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '.',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4',
 '5']

In [16]:
x.pop()#delets from last
x

[1,
 2,
 3,
 4,
 'red',
 'blue',
 'green',
 'green',
 'w',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '.',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4']

In [19]:
x.remove("w")#deletes based on passed values
x

[1,
 2,
 3,
 4,
 'red',
 'blue',
 'green',
 'green',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4']

In [21]:
x.insert(0,"black")# i have run this statment so balck is added two times.
#passed parameters are index and value;
x

['black',
 'black',
 1,
 2,
 3,
 4,
 'red',
 'blue',
 'green',
 'green',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4']

In [23]:
x.remove('black')
x

['black',
 1,
 2,
 3,
 4,
 'red',
 'blue',
 'green',
 'green',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 '2',
 '3',
 23,
 34,
 '2',
 '3',
 '4',
 '5',
 '2',
 '.',
 '3',
 '4']

In [26]:
bs=int(input("enter basic salary:"))
ta=int(input("enter travel allowance:"))
hra=int(input("enter house rent allowence:"))
da=0#da is dearness allowence
gs=0
if bs>25000:
  da=.1*bs
else :
  da=.05*bs
gs=bs+ta+hra+da
print("gross salary is:",gs)

enter basic salary:30000
enter travel allowance:5000
enter house rent allowence:5000
gross salary is: 43000.0

In [27]:
n=int(input("enter a number:"))
if n%2==1:
  print("entered number is odd number")
else:
  print("entered number is even number")

enter a number:3
entered number is odd number

In [29]:
#two list of odd and even number from a large list
l=[1,2,3,4,5,6,7,8,9,10]
l1=[]
l2=[]
for i in l:
  if i%2==0:
    l1.append(i)
  else:
    l2.append(i)
print(l1)
print(l2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [31]:
age=int(input("enter age of student:"))
if age>=18 and age<=25:
  print("eligible for grade 1 SBI exam")
elif age>25 and age<=30:
  print("eligible for grade 2 SBI exam")
else:
  print("Sorry, not eligible for any SBI exam")

enter age of student:34
Sorry, not eligible for any SBI exam

In [32]:
age1=int(input("age of first brother:"))
age2=int(input("age of second brother:"))
age3=int(input("age of third brother:"))
elder_brother=age1 if age1>age2 and age1>age3 else age2 if age2>age3 else age3
print("age of elder brother is:",elder_brother)

age of first brother:23
age of second brother:34
age of third brother:20
age of elder brother is: 34

In [34]:
for i in range(0,10,2):
  print(i,end=' ')

0 2 4 6 8

In [37]:
l1=[]
for i in range(1,11):
  print("19*%d=%d"%(i,i*19),end="\n")
  l1.append(i*19)

19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190

In [39]:
l1

[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]

In [41]:
for i in l1:
  print(i,end=" ")

19 38 57 76 95 114 133 152 171 190

In [42]:
i=0
while i<11:
  print(i,end=' ')
  i+=1

0 1 2 3 4 5 6 7 8 9 10

In [43]:
l1

[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]

In [49]:
length=len(l1)
count=0
while count<length:
  print(l1[count])
  count+=1

19
38
57
76
95
114
133
152
171
190

In [50]:
for i in range(2,7):
  for j in range(1,i):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [54]:
for i in range(1,6):
  for j in range(6,i,-1):
    print(j-1,end=' ')
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [53]:
for i in range(1,6):
  for j in range(6,i,-1):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [58]:
import time
for i in range(1,6):
  for s in range(1,i):
    print(" ",end=" ")
    time.sleep(1)
  for j in range(6,i,-1):
    print("*",end=' ')
    time.sleep(1)
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [61]:
for i in range(1,7):
  for s in range(1,i):
    print(" ",end=" ")
  for j in range(7,i,-1):
    print("*",end=' ')
  for k in range(6,i,-1):
    print("*",end=' ') 
  print()

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [77]:
for i in range(1,7):
  for s in range(9,i,-1):
    print(" ",end=" ")
  for j in range(0,i):
    print("*",end=' ')
  for k in range(1,i):
    print("*",end=' ') 
  print()

for i in range(0,7):
  for j in range(0,5):
    print(" ",end=" ")
  for j in range(0,7):
    if i>2 and j>1 and j<5 :
      print(" ",end=" ")
    else:
      print("*",end=" ")
  print()

                *
              * * *
            * * * * *
          * * * * * * *
        * * * * * * * * *
      * * * * * * * * * * *
          * * * * * * *
          * * * * * * *
          * * * * * * *
          * *       * *
          * *       * *
          * *       * *
          * *       * *

In [ ]:
|